/*sajkdakdjhaksjdhaksjdhaksjdhaksdjhasdaksdjha*/
nav ul {
  margin: 0;
  padding: 0;
  list-style: decimal;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
